<!DOCTYPE html>
<html lang="hu">
<head>
 <title>Casino::Uno - layout test</title>
 
 <meta charset="utf-8" />
 <meta name="description" content="" />
 <meta name="keywords" content="" />
 <meta name="author" content="erenon" />

 <meta name="robots" content="index, follow" />
 <meta name="revisit-after" content="14 days" />
 
 <link href="style.css" type="text/css" rel="stylesheet" />
 
 <!--<link rel="icon" href="favicon.ico" type="image/x-icon" />
 <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />-->
 
 <!-- UTF 8:
 	&#171;	«
 	&#187;	»
 -->

</head>
<body>
    <div id="container">
        <div id="info-bar"></div>
        
    </div>
</body>
</html>

