<!DOCTYPE html>
<html lang="hu">
<head>
 <title>Casino::Uno - layout test</title>
 
 <meta charset="utf-8" />
 <meta name="description" content="" />
 <meta name="keywords" content="" />
 <meta name="author" content="erenon" />

 <meta name="robots" content="index, follow" />
 <meta name="revisit-after" content="14 days" />
 
 <link href="style.css" type="text/css" rel="stylesheet" />
 
 <!--<link rel="icon" href="favicon.ico" type="image/x-icon" />
 <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />-->
 
 <!-- UTF 8:
 	&#171;	«
 	&#187;	»
 -->

</head>
<body>
    <div id="container">
        <div id="info-bar"></div>
        
        <div id="playerCards">
        
        <div class="card card-green">
            <span class="card-topleft-sign">6</span>
            <div class="card-inner">6</div>
        </div>
        
        <div class="card card-black card-plusfour">
            <span class="card-topleft-sign">+4</span>
            <div class="card-inner">+4</div>
        </div>
        
        <div class="card card-blue">
            <span class="card-topleft-sign">8</span>
            <div class="card-inner">8</div>
        </div>
        
        <div class="card card-yellow">
            <span class="card-topleft-sign">1</span>
            <div class="card-inner">1</div>
        </div>
        
        <div class="card card-red">
            <span class="card-topleft-sign">3</span>
            <div class="card-inner">♥</div>
        </div>
        
        <div class="card card-black card-colorpick">
            <span class="card-topleft-sign">CP</span>
            <div class="card-inner"></div>
        </div>
        
        <div class="card card-red card-reverse">
            <span class="card-topleft-sign">⟲</span>
            <div class="card-inner">⟲</div>
        </div>
        
        <div class="card card-yellow card-block">
            <span class="card-topleft-sign">ø</span>
            <div class="card-inner">ø</div>
        </div>
        
        </div>
    </div>
</body>
</html>

