<!DOCTYPE html>
<html lang="hu">
<head>
 <title>Casino::Uno - layout test</title>
 
 <meta charset="utf-8" />
 <meta name="description" content="" />
 <meta name="keywords" content="" />
 <meta name="author" content="erenon" />

 <meta name="robots" content="index, follow" />
 <meta name="revisit-after" content="14 days" />
 
 <link href="style.css" type="text/css" rel="stylesheet" />

</head>
<body>
    <div id="container">
        <div class="oppositeContainer horizontalOppositeContainer" id="oppositeContainerTop">
            <div class="player">
                <div class="nameContainer">
                    <span class="playerName">Robot 2</span>
                </div>
                <div class="hand">
                    <div class="card card-backside">
                        <div class="card-inner">UNO</div>
                    </div>
                    <div class="card card-backside">
                        <div class="card-inner">UNO</div>
                    </div>
                    <div class="card card-backside">
                        <div class="card-inner">UNO</div>
                    </div>
                </div>
                <div class="playerOverlay playerOverlayBlock">ø</div> 
            </div>
            
            <div class="player">
                <div class="nameContainer">
                    <span class="playerName">Robot 2b</span>
                </div>
                <div class="hand">
                    <div class="card card-backside">
                        <div class="card-inner">UNO</div>
                    </div>
                    <div class="card card-backside">
                        <div class="card-inner">UNO</div>
                    </div>
                    <div class="card card-backside">
                        <div class="card-inner">UNO</div>
                    </div>
                    <div class="card card-backside">
                        <div class="card-inner">UNO</div>
                    </div>
                    <div class="card card-backside">
                        <div class="card-inner">UNO</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="oppositeContainer verticalOppositeContainer" id="oppositeContainerLeft">
            <div class="player playerHighlight">
                <div class="nameContainer">
                    <span class="playerName">Robot 1</span>
                </div>
                <div class="hand">
                    <div class="card card-backside">
                        <div class="card-inner">UNO</div>
                    </div>
                    <div class="card card-backside">
                        <div class="card-inner">UNO</div>
                    </div>
                    <div class="card card-backside">
                        <div class="card-inner">UNO</div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="tableCenter">
            <div id="deck">
                <div id="deckPlayed">
                    <div class="card card-yellow">
                        <span class="card-topleft-sign">5</span>
                        <div class="card-inner">5</div>
                    </div>    
                </div>
                <div id="deckDeck">
                    <div class="card card-backside deck-card-1">
                        <div class="card-inner">UNO</div>
                    </div>
                    <div class="card card-backside deck-card-2">
                        <div class="card-inner">UNO</div>
                    </div>
                    <div class="card card-backside deck-card-3">
                        <div class="card-inner">UNO</div>
                    </div> 
                </div>
            </div>
            <ol id="statusBar">
                <li>Invalid move: The color or the figure must match</li>
                <li>Invalid move: The color or the figure must match</li>
                <li>Invalid move: The color or the figure must match</li>
            </ol>
        </div>
        
        <div class="oppositeContainer verticalOppositeContainer" id="oppositeContainerRight">
            <div class="player">
                <div class="nameContainer">
                    <span class="playerName">Robot 3</span>
                </div>
                <div class="hand">
                    <div class="card card-backside">
                        <div class="card-inner">UNO</div>
                    </div>
                    <div class="card card-backside">
                        <div class="card-inner">UNO</div>
                    </div>
                    <div class="card card-backside">
                        <div class="card-inner">UNO</div>
                    </div>
                </div>
                <div class="playerOverlay playerOverlayBlock">ø</div> 
            </div>         
        </div>
        
        <div id="playerContainer">
            <div class="player">
                <div class="nameContainer">
                    <span class="playerName">Player</span>
                </div>
                <div class="hand">
                    
                    <div class="card card-green">
                        <span class="card-topleft-sign">6</span>
                        <div class="card-inner">6</div>
                    </div>
                    
                    <div class="card card-black card-plusfour">
                        <span class="card-topleft-sign">+4</span>
                        <div class="card-inner">+4</div>
                    </div>
                    
                    <div class="card card-blue">
                        <span class="card-topleft-sign">8</span>
                        <div class="card-inner">8</div>
                    </div>
                    
                    <div class="card card-yellow">
                        <span class="card-topleft-sign">1</span>
                        <div class="card-inner">1</div>
                    </div>
                    
                    <div class="card card-black card-colorpick">
                        <span class="card-topleft-sign">CP</span>
                        <div class="card-inner"></div>
                    </div>
                    
                    <div class="card card-red card-reverse">
                        <span class="card-topleft-sign">⟲</span>
                        <div class="card-inner">⟲</div>
                    </div>
                    
                    <div class="card card-yellow card-block">
                        <span class="card-topleft-sign">ø</span>
                        <div class="card-inner">ø</div>
                    </div>
                
                </div>
            </div>      
        </div>
    </div>
    <div id="colorpickBox" class="overlayBox">
        <a class="colorpickOption colorpickOptionRed"/>
        <a class="colorpickOption colorpickOptionGreen"/>
        <a class="colorpickOption colorpickOptionBlue"/>
        <a class="colorpickOption colorpickOptionYellow"/>
    </div>
</body>
</html>

