!!! 5
html(lang="en")
  head
    title Casino::Uno - demo
    script(src="socket.io/socket.io.js")
    script(src="client/jquery.js")
    script(src="client/jquery.cookie.js")
    script(src="client/client.js")
  body
    !{body}
