!!! 5
html(lang="en")
  head
    title Casino::Uno
    script(src="http://localhost:3001/socket.io/socket.io.js")  
    script(src="client/SocketioGateway.js")
    script(src="client/jquery.js")
    script(src="client/jquery.csshooks.js") 
    script(src="client/PubSub.js")
    script(src="client/EventQueue.js")
    script(src="client/CardBuilder.js")
    script(src="client/Deck.js")
    script(src="client/PenaltyIndicator.js")
    script(src="client/StatusBar.js")
    script(src="client/Player.js")
    script(src="client/GameTable.js")
    script(src="client/Validator.js") 
    script(src="client/Control.js")
    script(src="client/SeatManager.js") 
    script(src="client/main.js")
    
    link(href="client/style.css", type="text/css", rel="stylesheet")
  body
    !{body}
    
    

