#unoTable
    #oppositeContainerTop.oppositeContainer.horizontalOppositeContainer(data-capacity="1", data-order="2")
    #oppositeContainerLeft.oppositeContainer.verticalOppositeContainer(data-capacity="1", data-order="1")
    #tableCenter
        #deck
        ol#statusBar
    #oppositeContainerRight.oppositeContainer.verticalOppositeContainer(data-capacity="1", data-order="3")
    #playerContainer
