!!! 5
html(lang="en")
  head
    title Casino::Uno
    script(src="socket.io/socket.io.js")
    script(src="client/jquery.js")
    script(src="client/jquery.cookie.js")
    script(src="client/jquery.i18n.js")
    script(src="client/socketio.js")
    script(src="client/pubsub.js")
    script(src="client/EventQueue.js")
    script(src="client/StatusBar.js")
    script(src="client/Deck.js")
    script(src="client/Player.js")
    script(src="client/cardBuilder.js")
    script(src="client/unoTable.js")
    script(src="client/client.js")
    
    link(href="client/style.css", type="text/css", rel="stylesheet")
  body
    !{body}
